{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "import",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [2],
    "@typescript-eslint/no-use-before-define": [2],
    "@typescript-eslint/explicit-function-return-type": [0],
    "simple-import-sort/sort": [2],
    "import/named": [0],
    "import/first": [2],
    "import/newline-after-import": [2],
    "import/no-duplicates": [2],
    "sort-imports": [0],
    "react-hooks/rules-of-hooks": [2],
    "react-hooks/exhaustive-deps": [1]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  }
}
