.version-bar {
  height: 24px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  .anticon {
    margin-left: 8px;
    font-size: 13px;
    cursor: pointer;
  }
}
